[submodule "improved-junit-5"]
	path = improved-junit-5
	url = https://github.com/Improved-test-frameworks/improved-junit-5.git
[submodule "improved-lighthouse"]
	path = improved-lighthouse
	url = https://github.com/Improved-test-frameworks/improved-lighthouse.git
[submodule "improved-wdio"]
	path = improved-wdio
	url = https://github.com/Improved-test-frameworks/improved-wdio.git
